*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #eeeeee;
}

html {
    box-sizing: border-box;
}

.cls-1,
.cls-3 {
    fill: #3182ce;
}
.cls-1,
.cls-15,
.cls-6 {
    opacity: 0.1;
}
.cls-1,
.cls-15,
.cls-16,
.cls-4,
.cls-6 {
    isolation: isolate;
}
.cls-17,
.cls-2 {
    fill: none;
    stroke-miterlimit: 10;
}
.cls-2 {
    stroke: #535461;
    stroke-width: 2px;
}
.cls-15,
.cls-4,
.cls-8 {
    fill: #fff;
}
.cls-4 {
    opacity: 0.5;
}
.cls-5 {
    fill: #474059;
}
.cls-7 {
    fill: #c0bccf;
}
.cls-9 {
    fill: #e8eaf1;
}
.cls-10 {
    fill: url(#linear-gradient);
}
.cls-11 {
    fill: #b96b6b;
}
.cls-12 {
    fill: #ffb9b9;
}
.cls-13 {
    fill: #fec5d9;
}
.cls-14 {
    fill: #747b9c;
}
.cls-16 {
    opacity: 0.2;
}
.cls-17 {
    stroke: #3182ce;
}
.cls-18 {
    fill: url(#linear-gradient-2);
}
.cls-19 {
    fill: #d6e6f9;
}
.cls-20 {
    fill: #5f546f;
}
.cls-21 {
    fill: #ffced8;
}
.cls-22 {
    fill: #bc8387;
}
.cls-23 {
    fill: #ae767a;
}
.cls-24 {
    fill: #cb919b;
}
.cls-25 {
    fill: #5a5773;
}

body {
    height: 100vh;
    overflow: hidden;
    color: black;
}

#root {
    background-color: rgb(41, 41, 41);
    height: 100%;
}

.App {
    background-color: #fff;
    position: relative;
    height: 100%;
}

.myButton {
    color: rgb(0, 0, 0);
}

.page_container {
    background-color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
}

/* HomePage beginning */

.home_page {
    height: 100%;
    width: 100%;
    background: url(./components/HomePage/HomePageBackground.svg) center #fff;

    /* flex properties as parent */
    display: flex;
}

/* home_page_availibale_rooms_half beginning */

.home_page_availibale_rooms_half {
    /* debugging properties */
    /* background-color: rgb(153, 78, 78); */
    /* opacity: 0.5; */

    /* main properties */
    width: 50%;
    height: 100%;

    /* flex properties as parent */

    /* flex properties as children */
}

/* home_page_availibale_rooms_half end */

/* home_page_svg_icon_half beginning */

.home_page_svg_icon_half {
    /* debugging properties */
    /* background-color: rgb(78, 148, 153); */
    /* opacity: 0.5; */

    /* main properties */
    width: 50%;
    height: 100%;

    /* flex properties as parent */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex properties as children */
}

.home_page_svg_icon_half svg#home_page_svg_icon {
    /* debugging properties */
    /* background-color: rgb(49, 161, 46); */
    /* opacity: 0.5; */

    /* main properties */
    padding: 50px;
    width: 700px;
    overflow: visible;
}

/* home_page_svg_icon_half beginning end */

/* HomePage end */

/* JoinPage */

.join_page {
    height: 100%;
    width: 100%;
    background-color: #4a7ca5;
}

/* RoomPage */

.room_page {
    height: 100%;
    width: 100%;
    background-color: #809bb1;
}
